.vs-sidebar--items .mail-sidebar-content #question-head {
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.1)
}

.vs-sidebar {
  box-shadow: none !important;
}

.mail__details h5 {
  a {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }
}


/* Customize the label (the radio-container) */
.radio-container {
  margin-bottom: .2rem;

  input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: $primary;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  .label{
    margin-left: 1.5rem;
  }
}


#email-app .my-button-row .my-btn {
  align-items:center;
  border: 0px none;
  border-color: $primary;
  border-radius: 6px;
  box-sizing:border-box;
  color:$primary;
  cursor:pointer;
  display:flex;
  font-family:Montserrat, Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:400;
  justify-content:center;
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:10.5px;
  padding-left:28px;
  padding-right:28px;
  padding-top:10.5px;
  text-align:center;
  background-color: rgba(var(--vs-primary),.08);

  &.disabled {
    color: #aaaaaa;
    background-color: #eeeeee;
    cursor: not-allowed;
  }

  &.right{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &.left{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 1px;

    background-color: rgba(var(--vs-primary),.04);
  }

  &:hover {
    background-color: rgba(var(--vs-primary),.2);
  }
}
